<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tlcmobile.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tlcmobile.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TLCMobile</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TLCMobile</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TLC_DBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=&quot;hkbvk8dbx5.database.windows.net, 1433&quot;;Initial Catalog=TheLookCompany;Persist Security Info=True;User ID=loginTLCapp@hkbvk8dbx5;Password=TLC_@pplication!;Application Name=EntityFramework" Name="Data Source=&quot;hkbvk8dbx5.database.windows.net, 1433&quot;;Initial Catalog=TheLookCompany;Persist Security Info=True;User ID=loginTLCapp@hkbvk8dbx5;Password=TLC_@pplication!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TlcMvc.TLC_DBEntities, TlcMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=&quot;hkbvk8dbx5.database.windows.net, 1433&quot;;Initial Catalog=TheLookCompany;Persist Security Info=True;User ID=loginTLCapp@hkbvk8dbx5;Password=TLC_@pplication!;Application Name=EntityFramework" Name="Data Source=&quot;hkbvk8dbx5.database.windows.net, 1433&quot;;Initial Catalog=TheLookCompany;Persist Security Info=True;User ID=loginTLCapp@hkbvk8dbx5;Password=TLC_@pplication!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TlcMvc.Models.ApplicationDbContext, TlcMvc" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source="hkbvk8dbx5.database.windows.net, 1433";Initial Catalog=TheLookCompany;Persist Security Info=True;User ID=loginTLCapp@hkbvk8dbx5;Password=TLC_@pplication!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TLC_DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TlcDataModel.csdl|res://*/TlcDataModel.ssdl|res://*/TlcDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source="hkbvk8dbx5.database.windows.net, 1433";Initial Catalog=TheLookCompany;Persist Security Info=True;User ID=loginTLCapp@hkbvk8dbx5;Password=TLC_@pplication!;MultipleActiveResultSets=True;Application Name=EntityFramework'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>